<div class="container-fluid">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <form (ngSubmit)="converter()" *ngIf="unidades" #form="ngForm">
                <div>
                    De:
                    <input class="form-control" ngModel name="input" required #input="ngModel"
                        pattern="^([0-9]*[.])?[0-9]+ (mm|MM|cm|CM|m|M|km|KM)$" placeholder="1 mm ou 1 cm ou 1 m ou 1 km"
                        (keyup)="formatarUnidade(input)">
                    <div *ngIf="input.errors" class="error">
                        <span class="text-danger" *ngIf="input.dirty && input.errors.required">Digite o valor e a unidade.</span>
                        <span class="text-danger" *ngIf="input.errors.pattern">Valor inválido.</span>
                    </div>
                </div>
                <div class="mt-3">
                    Para:
                    <select class="form-select" [(ngModel)]="para" name="para">
                        <option *ngFor="let u of unidades;" [ngValue]="u">{{u}}</option>
                    </select>
                </div>
                <div class="mt-3">
                    <button class="btn btn-outline-success" type="submit" [disabled]="!verificacaoSubmit(input)">
                        Converter
                    </button>
                </div>
            </form>
            <div class="resultado_div mt-3 text-center" *ngIf="resultado">
                Resultado: {{resultado}} {{para}}
            </div>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>